.dialogues textarea {
    margin-left: 20px;
    width: calc(100% - 110px);
    min-height: 48px;
    height: 48px;
    font-size: 22px;
    background-color: #151515;
    border-radius: 10px;
    padding: 10px;
    resize: vertical;
}

.dialogues button {
    margin-left: 20px;
    background-color: #151515;
    border: 1px solid rgb(119, 119, 119);
    font-size: 16px;
    border-radius: 10px;
    height: 48px;
    width: 70px;
    position: relative;
    top: -19px;
}

.select {
    width: calc(100% - 110px);
    margin: 0px 0px 10px 20px;
    height: 48px;
    font-size: 22px;
    background-color: #151515;
    border-radius: 10px;
    padding: 10px;
}