* {
    box-sizing: border-box;
    color: #FFF;
}

#root {
    display: grid;
    grid-template-columns: 8fr 2fr;
    grid-template-rows: 200px 1fr 200px;
    grid-template-areas: "header header"
                        "profile nav"
                        "footer footer";
    max-width: 1200px;
    height: 100vh;
    margin: auto;
    gap: 10px;
    padding: 10px 0px;
}

#root > * {
    background-color: #272727;
    border-radius: 20px;
    padding: 20px;
}

body {
    background-color: #151515;
}