.nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    text-decoration: none;
    margin: 20px;
    padding: 10px;
    transition: 0.5s;
}

.link:hover {
    transform: scale(1.1);
}

.active {
    border-bottom: 1px solid white;
}